@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
  overflow-x: hidden;
}

.selected {
  color: gold;
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 78%;
  z-index: -1;
  object-fit: cover;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 58vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

@media (max-width: 768px) {
  .videoBackground{
   display: none;
    }
    .videoOverlay{
      display: none;
    }

    .hero{
      background-color: black;
    }
}

@media (max-width: 480px) {

  .hero{
    background-color: black;
    height: 90vh;
  }

  .videoBackground{
  display: none;
  }

  .videoOverlay{
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.w-8 {
  width: 2rem; 
}

.h-8 {
  height: 2rem;
}

.text-accent-default {
  color: #4fd1c5; 
}

.fill-beige {
  fill: #f5f5dc; 
}


.svg-center {
  display: block;
  margin: auto;
}
